<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List Customers</title>
</head>
<body>
<a href="/create-customer">Create New Customer</a>
<h1>List Customers</h1>
<table border="1">
    <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th colspan="2">Action</th>
    </tr>
    <th:block th:each="customer : ${customers}">
        <tr>
            <td th:text="${customer.id}"></td>
            <td th:text="${customer.firstName}"></td>
            <td th:text="${customer.lastName}"></td>
            <td><a th:href="@{/edit-customer/__${customer.id}__}">Edit</a></td>
            <td><a th:href="@{/delete-customer/__${customer.id}__}">Delete</a></td>
        </tr>
    </th:block>
</table>
</body>
</html>